<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings file="Okta.config">
    <!-- Comment out the 4 lines below or copy them into an Okta.config file (including the <appSettings> node)-->
    <!--
    <add key="OktaTenantUrl" value="https://[tenantname].oktapreview.com"/>
    <add key="OktaApiKey" value="[yourOktaAPIKey]"/>
    <add key="OktaUserLogin" value="Test Okta username"/>
    <add key="OktaPassword" value="Test Okta password"/>
    -->
  </appSettings>
</configuration>
